{% load i18n %}

{% blocktrans %}Saludos{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Está recibiendo este correo electrónico porque usted (o alguien que se hace pasar por usted)
solicitó que se realizara el cambio de contraseña en el sitio {{ domain }}. Si no lo hace
desea restablecer su contraseña, ignore este mensaje.
{% endblocktrans %}

{% blocktrans %}
Para restablecer su contraseña, haga clic en el siguiente enlace o cópielo y péguelo
en su navegador web:
{% endblocktrans %}

{{protocol}}://{{domain}}{% url 'password_reset_confirm' uid token %}


{% blocktrans %}Tu nombre de usuario, en caso de que lo hayas olvidado:{% endblocktrans %} {{ user.get_username }}


{% blocktrans %}Saludos cordiales Raquel Martinez Balderas {% endblocktrans %},
{{ site_name }} {% blocktrans %}Management{% endblocktrans %}


{# This is used by django.contrib.auth #}