{% extends 'base.html' %}
{% block content %}
    <div class="p-3 mb-2 bg-danger   bg-gradient text-white" > <h1> <center> PELICULAS </center> </h1> </div>

    <center>
    <div class="row row-cols-1 row-cols-md-2 g-4 container">
        
        {% for pel in Todas_Peliculas%}
        
        <div class="col">        
            <div class="card">
                <!-- <script type="text/javascript"> 
                    var a = "{{pel.nom_pelicula}}";
                </script> -->
                <center> <img src="https://4.bp.blogspot.com/-EQWFCsIa-KI/W9ic2rGH66I/AAAAAAAAcjA/HU4a8P24ytAgh89fvToY-bRpwzhQ3PiKgCLcBGAs/s1600/Colage%2BTerror%2BSiglo%2BXXI.jpg" class="img-thumbnail rounded-start" alt="PELICULAS" width="250"></center> 
                <div class="card-body">
                    <h5 class="card-title">{{pel.nom_pelicula}}</h5>
                    <p class="card-text">{{pel.resumen}}</p>
                    <p class="card-text">{{pel.genero}}</p>
                    <blockquote class="blockquote mb-0">
                        <p class="card-text">Duracion: <small class="text-muted">{{pel.duracion}}</small></p>
                        <footer class="blockquote-footer">Reparto:  <cite title="Source Title">{{pel.reparto}}</cite></footer>
                    </blockquote>
                </div>
                <a class="btn btn-outline-danger btn-xs justify-content-md-end" href="{% url 'pelicula_detalle' pel.pk %}"> Ver Mas </a>
                <a class="btn btn-danger btn-xs justify-content-md-end" href="home.html#" onClick="which=1;backward();return false"><small>Comenzar  De Nuevo</small></a>
                <!--<input class="btn btn-outline-danger btn-xs justify-content-md-end" type="button" value="Wolas2" name="B1" onClick="wolas()"><br>-->
            </div>
        </div>
        {% endfor%}   
    </div>
<br></center>

{% endblock content %}